{{extend 'Layout.html'}}
<div class="overlay">
    <div class="container">
        <div class="col-12 my-5">
            <h1 class="mainTitle mainTitle2">
                Analytics
            </h1>
        </div>
        <div class="analyticsContent">
            <div class="card">
                <h2 class="card-header">Analytics for students and other</h5>
                <div class="card-body">
                  <p class="card-text">Number of Students:{{=userCount}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table text-dark data text-center my-5">
                    <tbody class="coursesDataTable">
                    </tbody>
                  </table>
            
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="modalCode"></p>
              <p class="modalDescription"></p>
              <p class="modalInstructor"></p>
              <p class="modalDays"></p>
              <p class="modalTime"></p>
              <p class="modalRoom"></p>
              <p class="modalPrerequisites"> </p>
              <p class="modalCapacity">Capacity: </p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close2" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
<script src="{{=URL('static','js/analyticsJS.js')}}"></script>